[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
loguru = "*"
mdutils = "*"
pyyaml = "*"
pony = "*"
marshmallow = "*"
webargs  = "*"
flask = "*"
flask_restx = "*"
werkzeug = "==2.1.2"
flask_jwt_extended = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"
pytest = "*"
flake8 = "*"
black = "*"
pydocstyle = "*"
autoflake = "*"
